div {
    text-align: center;
    margin-top: 5px;
    overflow: hidden;
}
img {
    border: 1px solid #f8bd4f;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
.placeholder {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-color: #1fa187;
    color: #221f1f;
    display: inline-block;
    line-height: 250px;
    font-size: 0.9em;
    margin-top:0px; 
}