<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/home"></ion-back-button>
        </ion-buttons>
    <ion-title>People</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content margin padding>

  <div class="loading" *ngIf="!users">
      <ion-spinner></ion-spinner>
  </div>
    <ion-list *ngIf="users">
        <ion-item *ngFor="let user of users">
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          <ion-label>{{user?.userId}}</ion-label>
        </ion-item>
      
      </ion-list>
</ion-content>
