<div>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="DONE" checked>
      <ion-label>Completed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="INPROGRESS">
      <ion-label>inprogress</ion-label>
    </ion-segment-button>
    <ion-segment-button value="TODO">
      <ion-label>Do later</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid>
  <ion-row class="activities">
    <ion-col *ngFor="let committedActivity of committedActivityProfileAggregates; let i=index" size="4">
      <img [src]="'data:'+committedActivity.activityImageContentType+';base64,'+committedActivity.activityImageString | safeHtml"/>
      <div><label>{{committedActivity.activityTitle}}</label></div>
    </ion-col>
  </ion-row>
  </ion-grid>
</div>
