<div class="profile-info" [ngStyle]="{'background' : 'url('+backgroundImageUrl+') center center/cover no-repeat fixed #000'}">
  <ion-row>
    <ion-col>
      <ion-text>
        <h1>67</h1>
        <p>Followers</p>
      </ion-text>
    </ion-col>
    <ion-col>
      <ion-text>
        <h1>146</h1>
        <p>Followings</p>
      </ion-text>
    </ion-col>
    <ion-col>
      <ion-text>
        <h1>456</h1>
        <ion-icon name="heart"></ion-icon>
      </ion-text>
    </ion-col>
    <ion-col>
      <ion-text>
        <h1>{{registeredUserAggregate.noOfCompletedTasks}}</h1>
        <p>Tasks completed</p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-button class="edit-profile-button" shape="round" fill="outline">Edit Profile</ion-button>
  <div class="user-info">
    <img
      [src]="'data:'+registeredUserAggregate.profilePictureContentType+';base64,'+registeredUserAggregate.profilePicture | safeHtml" />
    <div class="account-name">
      <ion-text class="account-name">
        <h1>{{registeredUserAggregate.firstName}}</h1>
      </ion-text>
    </div>
  </div>
</div>