<ion-header>
  <ion-toolbar>
    <ion-title>Comments</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeComments()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
      <ion-item class="post-comment">
          <ion-textarea placeholder="Your comments..." [(ngModel)]="commentDTO.description"></ion-textarea>
          <ion-icon name="send" slot="end" (click)="doComment()"></ion-icon>
        </ion-item>
    <ion-list lines="none">
      <ion-row *ngFor="let comment of commentAggregates; let i=index">

        <ion-col>
          <div class="comment-box">
      <ion-item>
            <ion-avatar *ngIf="comment.profilePicture!=null;else NoAvatar">
              <img [src]="'data:'+comment.profilePictureContentType+';base64,'+comment.profilePicture | safeHtml"/>
            </ion-avatar>
            <ng-template #NoAvatar>
              <ion-avatar>
                <ion-icon name="person" size="large"></ion-icon>
              </ion-avatar>
            </ng-template>

            <ion-label>{{comment.firstName}}<span class="time"><span class="dot">.</span>{{comment.timeElapsed}}</span></ion-label>

            <div  *ngIf="comment.liked; else notLiked">
                <ion-icon color='primary' size='large' name='heart' (click)="undoLoveComment(i,comment.commentId)"></ion-icon>
            </div>
            <ng-template #notLiked>
              <div>
              <ion-icon color='primary' size='large' name="heart-empty" (click)="doLoveComment(i,comment.commentId)"></ion-icon>
              </div>
            </ng-template>

            <!-- <ion-icon name="heart-empty" *ngIf="!comment.isLiked" slot="end" (click)="loveThisComment(i)" color="primary"></ion-icon>
            <ion-icon name="heart" *ngIf="comment.isLiked" slot="end" color="primary" (click)="unLoveThisComment(i)"></ion-icon> -->
          
          </ion-item>
          <ion-item>
            {{comment.description}}
          </ion-item>
        </div>
          <ion-row class="ion-no-padding ion-justify-content-center">
            <ion-col size="4" lass="ion-text-right" (click)="showReplies(comment.commentId)">
              <ion-button fill="clear" size="small" color="primary" >
                <ion-icon name="undo" slot="start"></ion-icon>
               <!-- <div *ngIf="comment.noOfReplies>0"></div -->
                <div>
                  {{comment.noOfReplies+' replies'}}
                </div>
              </ion-button>
            </ion-col>
            <ion-col size="4" lass="ion-text-right">
                <ion-button fill="clear" size="small" color="primary">
                  <ion-icon name="heart" slot="start"></ion-icon>
                  <!-- <div *ngIf="comment.noOfReplies>0"> -->
                  <div>
                    {{comment.noOfLoves+' loves'}}
                  </div>
                </ion-button>
              </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-list>
  </ion-grid>
</ion-content>