ion-toolbar {
  // TODO test transparent and fullscreen
  --background: transparent;
  --border-color: transparent;
}

.swiper-slide {
  display: block;
}

.slide-title {
  margin-top: 2.8rem;
  color: #4114D9;
}

.slide-image {
  max-height: 40%;
  max-width: 60%;
  margin: 26px 0;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 18px;
  line-height: 1.5;
  color: #60646b;

  b {
    color: #000000;
  }
}

ion-content {
  //clip-path: circle(55% at 50% 50%);
  //--background: linear-gradient(white red)!important;
  --background: linear-gradient(315deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.911) 33.33%, rgba(222, 232, 253, 0.904) 100%) !important;

}
