<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="logForm()">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input type="text" [(ngModel)]="user.username" name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
        </ion-item>
        <ion-button size="small" slots="end" type="submit" block>Proceed</ion-button>
      </form>
      <br><br>
      <ion-text routerLink='/signup'>click here to register</ion-text>
</ion-content>
