<ion-header>
    <ion-toolbar>
      <ion-title>Congradulations</ion-title>
      <ion-icon routerLink="/tabs/home" name="close" size="large" color="primary" slot="end"></ion-icon>
    </ion-toolbar>
  </ion-header>
<ion-content>

    <ion-card id="profile" align-items-center>

      <ion-card-content id="profile-card-content">
         
        
          <ion-avatar slot="start" id="avatar">
              <img src="/assets/boy.png"/>
          </ion-avatar>


          <ion-item lines="none">
              <ion-grid>             

                <ion-row>
                  <ion-col>
                   <blockquote class="mr-0 cl-white">
                    {{message}}
                      <!-- Congratulations! You have earned 500 coins. You have sucessfully completed the task of spending time with your teacher. Hope you have increased your gratitude level. Complete the remaining activities of the spin to get a medal. -->
                   </blockquote>

            
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-label id="quote" text-center>"Thankful person"</ion-label>
                  </ion-col>
                </ion-row>
              
              </ion-grid>
          </ion-item>
                     
      </ion-card-content>



    </ion-card>

    <ion-grid >

        <ion-row>
            <ion-toolbar>
                <ion-buttons slot="end">
                  <ion-button>
                    <ion-icon src="/assets/facebook.svg"></ion-icon>
                  </ion-button>
                  <ion-button>
                      <ion-icon src="/assets/instagram.svg"></ion-icon>
                  </ion-button>
                  <ion-button (click)="share()">
                                   
                      <ion-icon src="/assets/whatsapp.svg"></ion-icon>
    
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>          
          </ion-row>
    </ion-grid>



  
</ion-content>