<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/home"></ion-back-button>
        </ion-buttons>
    <ion-title>gratitude-challenge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <video *ngIf="video"  controls width="96%" fullscreen="fullscreen" (ended)="afterVideoPlayed()" height="auto">
    <source [type]=" video.fileContentType" [src]="'data:' + ';base64,' + video.file" >
  </video>
  <ion-text text-center>
    <h4>
      Watch the video and read the instructions
    </h4>
  </ion-text>
  <ion-item padding>
    <ion-button [disabled]="!isVideoPlayed" size="large" slot="end" fill="outline" margin-bottom icon-only padding clear routerLink="/tabs/home/finish">
        <ion-icon name="arrow-forward" size="large"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>