.toolbar-background {
  background-color: #30adde;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.chat-message {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
}

.chat-message:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
}

.chat-message.right {
    background-color: #488aff;
    color: #fff;
    float: right;
}

.chat-message.right:before {
    background-color: #488aff;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
    transform: rotate(118deg) skew(-5deg);
}

.chat-message.left {
    background-color: #e6e5eb;
    float: left;
    }

.chat-message.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
    transform: rotate(70deg) skew(5deg);
}

.innermsg {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.innermsg.left {
  float: left;
  background-color: #F1F0F0;
  color: black;
}

.innermsg.right {
  float: right;
  //margin-right: 10%;
  background-color: #0084FF;
  color: white;
}

.msgbubble {
  margin-bottom: 10px;
}
