
<ion-header>
  <ion-toolbar>
    <ion-title>
       <ion-icon md="md-chatbubbles"></ion-icon> Chat Room
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <div *ngFor="let message of chats">
    <div [ngClass]="message.styleClass">
	    <div class="message-detail">
        {{message.msgStr}}
	    </div>
    </div>
  </div>
 -->
 <div class="chat-container">
  <div class="chat">
    <div class="message">
  <ion-list no-lines class="msgbubble" *ngFor="let msg of messages">
    <div class="right-bubble" *ngIf="this.userId==msg.sender">
      <span class="msg-name">{{msg.sender}}</span>
      <p text-wrap>{{msg.content}}</p>
    </div>
    <div class="left-bubble" *ngIf="this.userId!=msg.sender">
      <span class="msg-name">{{msg.sender}}</span>
      <p text-wrap>{{msg.content}}</p>
    </div>
</ion-list>

  </div>
</div>
 </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input id= "message-input" type="text" [(ngModel)]="chat_input" placeholder="Enter message"></ion-input>
    <ion-icon name="md-send" (click)="sendMessage(chat_input)" item-right></ion-icon>
  </ion-item>
</ion-footer>
