<ion-header no-border *ngIf="this.activityService?.currentActivity">
    <ion-toolbar>
<ion-title>{{this.activityService?.currentActivity?.title}}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content *ngIf="this.activityService?.currentActivity" fullscreen>
  <ion-slides #slides [options]='slideOptions' pager (ionSlideReachStart)='slideShowBegins()' (ionSlideReachEnd)='slideShowEnds()'>
    <ion-slide
      *ngFor='let introductionStory of this.activityService?.currentActivity?.introductionStories; let i=index'>
<!--       <ion-text color="primary">
        <h1>
          {{this.activityService?.currentActivity?.title}}
        </h1>
      </ion-text> -->
      <div class="activity-image">
        <img
          [src]="'data:'+introductionStory?.imageStringContentType+';base64,'+introductionStory?.imageString | safeHtml" />
      </div>
      <ion-text color="primary">
        <h3>
          {{i==0?'Hi..Now it is the time to become more positive and happy. Read the instructions before doing the activity':introductionStory?.story}}
        </h3>
      </ion-text>
      <ion-item lines='none' *ngIf="i==0">
          <ion-button fill="outline" color='primary-shade' slot="end">
              Take a look
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
      </ion-item>
      <ion-item lines='none' *ngIf="i==(this.activityService?.currentActivity?.introductionStories.length-1)">
          <ion-button fill="outline" color='primary-shade' slot="end" (click)='finishActivity()'>
              Completed
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
            <ion-button fill="outline" color='primary-shade' (click)='presentAlertConfirm()'>
                <ion-icon slot="start" name="arrow-back"></ion-icon>
                Will do later
              </ion-button>
      </ion-item>
    </ion-slide>
  </ion-slides>
</ion-content>