
  .dark-slide {
    
    background-color: black;
  }
  ion-content {
    margin: 0px;
    padding: 0px;
    //background-image: url('../../../assets/img/footer_lodyas.png');
  }
  .image-slide {
    
    width: 100vw;
    height: 100%;
  
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    position: absolute;
    z-index: -99999999999999999;
    top: 0px;
    background-color: black;
    opacity: 0.4;;
  }
img.posted-image {
    position: relative;
    bottom: 7vh!important;
  } 
  .description {
    position: absolute;
    bottom: 110px;
    color: white;
    font-size: 90%;
    padding: 10px;

    font-family: 'livvic-semi-bold','nunito-sans-semi-bold', 'SourceSansPro-semi-bold', sans-serif;
  }
  
  .comment,.like,.share,.posted-user {
    position: absolute;
    color: white;
    z-index: 9999999999999999999999999;
  }
  .like {
    
    top:50px;
    right:5px;
  }
  .comment {
    top:120px;
    right:5px;
  }
  .share {
    top:190px;
    right:5px;
  }
  .comment p,.like p,.share p {
    margin: 0px;
    font-size: 60%;
    font-family: 'livvic-bold','nunito-sans-bold', 'SourceSansPro-bold', sans-serif;
    
  }
  .posted-user{
    top: 0PX;
    left:5px;
    padding: 0px;
    color: white;    
  }
  ion-item {
    --color: #fff;
    --background: rgba(0, 0, 0, 0);
  }
  ion-item p {
    margin: 0px;
    font-size: 60%;
  }
  span.dot {
    font-size: 50px;
    margin: 0px 5px;
  }
  span.time {
    font-size: 75%;
    margin: 0px 10px;
  }
  ion-label {
    margin: 0px;
    padding: 0px;
    transform: translateY(-20%);
  }