<ion-content fullscreen>
    <ion-slides>
      <ion-slide>
        <ion-slides #slides [options]='slideOptions' (ionSlideDoubleTap)="loveThisFeedWithDoubleTap()">
          <ion-slide class="dark-slide" *ngFor="let activity of completedActivities">
            <div [ngStyle]="{'background': 'url('+ activity.postedImage +') center center/cover no-repeat fixed #000'}" class="image-slide">

            </div>
            <div class="posted-user">
              <ion-item>
              <ion-avatar>
                <img [src]="activity.postedUser.profilePic">
              </ion-avatar>              
              <ion-label>{{activity.postedUser.name}}<span class="time"><span class="dot">.</span>{{activity.timeElapsed}}</span></ion-label>
            </ion-item>
            </div>
            <div class="activity-name" *ngIf="!isLiking">
              {{'completed '+activity.activityTitle}}
            </div>
            <div class="love" *ngIf="isLiking">
              <img src="./../../../assets/img/heart.png">
            </div>
            <div class="options">
            <div class="like">
              <ion-icon color='primary' size='large' name='heart-empty' (click)="loveThisFeed()" *ngIf="!activity.isLiked"></ion-icon>
              <ion-icon color='primary' size='large' name='heart' (click)="unLoveThisFeed()" *ngIf="activity.isLiked"></ion-icon>
              <p>{{activity.noOfLoves}}</p>
            </div>
            <div class="comment">
              <ion-icon (click)="showComments()" color='primary' size='large' src='../../assets/icons/72-icons-eleken/SVG/message.svg'></ion-icon>
              <p>{{activity.noOfComments}}</p>
            </div>
            <div class="share">
              <ion-icon color='primary' size='large' name='share-alt'></ion-icon>
              <p>{{activity.noOfShares}}</p>
            </div>
          </div>
<!--              <img
              src="https://images.unsplash.com/photo-1569527570474-77374e08a93c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" class="posted-image"/> -->
              <div class="description">
                {{'completed #'+activity.activityTitle+'. '+activity.description}}  
              </div>

          </ion-slide>

 <!--          <ion-slide class="dark-slide">
              <div style="background: url('https://images.unsplash.com/photo-1569527570451-fa841811dc8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=692&q=80') center center/cover no-repeat fixed #000;" class="image-slide">

              </div>
              <div class="posted-user">
                  <ion-item>
                  <ion-avatar slot='start'>
                    <img src="../../../assets/img/Artboard 2_users.svg">
                  </ion-avatar>              
                  <ion-label>Ajith A<span class="time"><span class="dot">.</span>10 minute</span></ion-label>
                </ion-item>
                </div>
                <div class="like">
                  <ion-icon color='primary' size='large' name='heart-empty'></ion-icon>
                  <p>2k</p>
                </div>
                <div class="comment">
                  <ion-icon color='primary' size='large' src='../../assets/icons/72-icons-eleken/SVG/message.svg'></ion-icon>
                  <p>11</p>
                </div>
                <div class="share">
                  <ion-icon color='primary' size='large' name='share-alt'></ion-icon>
                  <p>45</p>
                </div>
             <img
              src="https://images.unsplash.com/photo-1569527570451-fa841811dc8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=692&q=80" class="posted-image" />  
              <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem quae veritatis eos ab inventore aperiam, nobis officia repellat aliquid quidem earum quos saepe minima quod maiores asperiores quisquam!</div>
          </ion-slide>

          <ion-slide class="dark-slide">
              <div style="background: url('https://images.unsplash.com/photo-1569531955316-e353abac4ff4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80') center center/cover no-repeat fixed #000;" class="image-slide">

              </div>
              <div class="posted-user">
                  <ion-item>
                  <ion-avatar slot='start'>
                    <img src="../../../assets/img/Artboard 2_users.svg">
                  </ion-avatar>              
                  <ion-label>Manu Mohan<span class="time"><span class="dot">.</span>1 hour</span></ion-label>
                </ion-item>
                </div>
                <div class="like">
                  <ion-icon color='primary' size='large' name='heart-empty'></ion-icon>
                  <p>75</p>
                </div>
                <div class="comment">
                  <ion-icon color='primary' size='large' src='../../assets/icons/72-icons-eleken/SVG/message.svg'></ion-icon>
                  <p>6</p>
                </div>
                <div class="share">
                  <ion-icon color='primary' size='large' name='share-alt'></ion-icon>
                  <p>5</p>
                </div>
            <img
              src="https://images.unsplash.com/photo-1569531955316-e353abac4ff4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" class="posted-image"/>
              <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis rerum eveniet facilis ratione obcaecati corrupti eaque.</div>
          </ion-slide> -->

        </ion-slides>
      </ion-slide>
      <ion-slide>
        Users completed challenges and profile information will be displayed here
      </ion-slide>
    </ion-slides>
  </ion-content>