<ion-app>
  <ion-content fullscreen>
    <ion-slides [options]='options'>
      <ion-slide>
        
          <img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" />

      </ion-slide>

      <ion-slide>
        <img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" />

    </ion-slide>

    <ion-slide>
      <img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" />

  </ion-slide>

      </ion-slides>
  </ion-content>
</ion-app>