<ion-header>
  <ion-toolbar>
    <ion-title>Replies</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeReplies()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-item class="post-reply">
      <ion-textarea placeholder="Your reply..." [(ngModel)]="replyDTO.description"></ion-textarea>
      <ion-icon name="send" slot="end" (click)="doReply()"></ion-icon>
    </ion-item>
<ion-list lines="none">
  <ion-row *ngFor="let reply of replyAggregates; let i=index">

    <ion-col>
      <div class="reply-box">
  <ion-item>
        <ion-avatar>
          <ion-img [src]=""></ion-img>
        </ion-avatar>
        <ion-label>UserName<span class="time"><span class="dot">.</span>{{reply.timeElapsed}}</span></ion-label>

        <div  *ngIf="reply.liked; else notLiked">
            <ion-icon color='primary' size='large' name='heart' (click)="doLoveReply(i,reply.replyId)"></ion-icon>
            </div>
            <ng-template #notLiked>
              <div>
              <ion-icon color='primary' size='large' name="heart-empty" (click)="doLoveReply(i,reply.replyId)"></ion-icon>
              </div>
            </ng-template>

        <!-- <ion-icon name="heart-empty" *ngIf="!reply.isLiked" slot="end" (click)="loveThisreply(i)" color="primary"></ion-icon>
        <ion-icon name="heart" *ngIf="reply.isLiked" slot="end" color="primary" (click)="unLoveThisreply(i)"></ion-icon> -->
      
      </ion-item>
      <ion-item>
        {{reply.description}}
      </ion-item>
    </div>
      <ion-row class="ion-no-padding ion-justify-content-center">
        <ion-col size="4" lass="ion-text-right">
            <ion-button fill="clear" size="small" color="primary" (click)="openContact()" *ngIf="reply.noOfReplies>0">
              <ion-icon name="reply" slot="start"></ion-icon>
              <div>
              {{reply.noOfLoves+' loves'}}
              </div>
            </ion-button>
          </ion-col>
      </ion-row>
    </ion-col>

  </ion-row>
</ion-list>
  </ion-grid>
</ion-content>