<ion-header>
  <ion-toolbar>
    <ion-title>select desired characters for your rolemodel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col *ngFor="let activity of activityViewAggregates; let i=index" size="6">
      <ion-card>
        <ion-img [src]="activity.imageUrl"></ion-img>
        <ion-card-header>
          <ion-card-title>{{activity.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{activity.challengeName}}
        </ion-card-content>
        <ion-card-content>
          {{activity.challengeName}}
        </ion-card-content>
        <ion-checkbox slot="end" [(ngModel)]="isSelected"></ion-checkbox>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-button size="large"  expand="full" (click)="createRolemodel()">create rolemodel</ion-button>
</ion-content>
