<ion-header>
  <ion-toolbar>
    <ion-title>Pick one actvity from our suggested list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-row>
    <ion-col *ngFor="let activity of activityViewAggregates; let i=index" size="6">
      <ion-card>
        <ion-img [src]="activity.imageUrl"></ion-img>
        <ion-card-header>
          <ion-card-title>{{activity.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{activity.challengeName}}
        </ion-card-content>
        <ion-card-content>
          {{activity.challengeName}}
        </ion-card-content>
        <ion-checkbox slot="end" [(ngModel)]="isSelected"></ion-checkbox>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-button size="large"  expand="full" (click)="createRolemodel()">create rolemodel</ion-button> -->
  <ion-text class="orange">
    <h2>Recommended for you</h2>
  </ion-text>
  <ion-slides #suggestedActivities [options]='slideOptions'>
    <ion-slide *ngFor="let activity of activityViewAggregates; let i=index">
      <ion-row>
        <ion-card class="orange">
          <ion-card-header>
            <ion-card-title>{{activity.title}}</ion-card-title>
            <ion-card-subtitle>{{activity.challengeName}}</ion-card-subtitle>
          </ion-card-header>
          <img [src]="'data:'+activity.imageStringContentType+';base64,'+activity.imageString | safeHtml"><img>
        </ion-card>
      </ion-row>
    </ion-slide>
  </ion-slides>
  <ion-text color="primary">
    <h2>Trending</h2>
  </ion-text>
  <ion-slides #trendingActivities [options]='slideOptions'>
    <ion-slide *ngFor="let activity of activityViewAggregates; let i=index">
      <ion-row>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{activity.title}}</ion-card-title>
            <ion-card-subtitle>{{activity.challengeName}}</ion-card-subtitle>
          </ion-card-header>
          <img [src]="'data:'+activity.imageStringContentType+';base64,'+activity.imageString | safeHtml"><img>
        </ion-card>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-content>