ion-text h2 {
    margin-left: 10px;
}
ion-card {
    --color: #fff;
    --background: linear-gradient( var(--ion-color-primary-tint), white);
    width: 90%;
    height: 90%;
}
ion-row{
    height: 270px;
    align-items: stretch;
}
ion-slide {
    padding: 10px;
    margin-left: 5px;
}
.orange {
    color: orange;
}
ion-card.orange {
    --background: linear-gradient( orange, white);
}
