<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/home"></ion-back-button>
        </ion-buttons>
    <ion-title>albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loading" *ngIf="!media">
      <ion-spinner></ion-spinner>
  </div>
  <ion-grid>
    <ion-card>
    <ion-row>
        <ion-col size-sm="6" size-md="4" size-xl="3" size=6 *ngFor="let image of media">
            <ion-img src="data:image/png;base64,{{image.file}}"></ion-img>
          </ion-col>
    </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
